.panel {
  position: relative;
  min-width: 270px;
  max-width: 270px;
  height: fit-content;
  padding: 10px 8px;
  border-radius: 3px;
  background-color: #ebecf0;
}

.cards {
  max-height: 80vh;
}

.cards > div{
  margin-bottom: 8px;
}

.title {
  margin: 0px 35px 10px 10px;
  font-weight: 500;
}

.btnClose {
  position: absolute;
  height: 1.5em;
  padding: 4px;
  top: 8px;
  right: 8px;
  border-radius: 3px;
  cursor: pointer;
}

.btnClose:hover {
  background-color: rgba(255, 255, 255, 0.8);
}