<!DOCTYPE html>
<html>
<head>
  <title>Регистрация - Автосервис</title>
  <meta charset="utf-8">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
</head>
<body>
  <div class="header">
    <a href="/">
      <div class="header__logo">
        <img class="header__icon" src="{% static 'img/logo.png' %}">
        <div class="header__name">Автосервис</div>
      </div>
    </a>
    <div class="header__profile">
      {% if authenticated %}
        <div class="header__user">{{ username }}</div>
        <a class="header__link" href="/logout"><div>Выйти</div></a>
      {% else %}
        <a class="header__link" href="/login"><div>Логин</div></a>
        <a class="header__link" href="/signup"><div>Регистрация</div></a>
      {% endif %}
    </div>
  </div>
  <div class="content">
    {{message}}
  </div>
</body>
</html>