{% extends 'base.html'%}

{% block content %}

    <h1 class="mb-5">Books:</h1>
    {% for new in book%}
    <div class="card mb-4" >
      <div class="card-body">

        <h5 class="card-title">{{new.title}}</h5>
        <p class="card-text">{{new.category_code}}</p>
        <a href="{% url 'book_single' pk=new.id %}" class="btn btn-light">More</a>
        <a href="{% url 'book/update/' pk=new.id %}" class="btn btn-light">Update</a>
        <a href="{% url 'book_delete' pk=new.id %}" class="btn btn-light">Delete</a>


      </div>
    </div>
    {% endfor %}
    <a href="{% url 'add_book' %}" class="btn btn-light">Add</a>


{% endblock %}