{% extends 'wrapper.html' %}
{% block body %}

 <div class="container">
{% if messages %}
{% for message in messages %}
<div class="alert alert-danger" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}

<div class="content-section">
    <h3> Ваш заказ:  </h3>
    <div class="border-top pt-3">
    </div>
    {% if total_price > 0 %}
    {% for dish in cart.dishes.all %}
    {{ dish.dish_name }}: <div class="green-text">{{dish.price }} руб</div>
    <br>
    {% endfor %}
    <div class="border-top pt-3">
    </div>
    <h6>Итоговая сумма: {{total_price}}</h6>
    <br>
    <a href="{% url 'close_order' %}">
        <button type="button" class="btn btn-warning">Подтвердить заказ</button>
    </a>
    {% else %}
    Вы ничего не заказали!
    {% endif %}

 </div>
 </div>

{% endblock %}