{% extends 'wrapper.html' %}

{% block body %}
 <div class="container">
        <div class="content-section">
<h1>Ресторан "Аризона"</h1>
     <br>
     <p>Уютный интерьер и изысканная кухня сделают ваш обед или ужин незабываемым. Мы рады нашим гостям и всегда стремимся их приятно удивить.</p>

 <p>Меню ресторана и карта вин продуманы до мелочей, а наши официанты помогут при заказе подобрать блюдо на любой вкус и посоветуют подходящие напитки.</p>

 <p>Мы используем только свежие продукты и работаем с проверенными партнерами - ведь именно качественные и свежие ингредиенты позволяют создавать настоящие кулинарные шедевры.</p>

 <p>Для посетителей, которые предпочитают современную европейскую кухню мы предлагаем салаты, горячее и закуски.</p>

 <p>Для гурманов у нас есть необычные блюда, процесс подготовки которых требует большого количества времени и высочайшего мастерства. </p>
 </div>
 </div>
{% endblock %}