{% extends 'nav_base.html' %}
{% block title %}
    Sportsmen List
{% endblock %}
{% block body %}
    <div id="m">
        <table id="example" class="display" style="width:100%">
            <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Age</th>
                <th>Rating</th>
                <th>Current Trainer</th>
            </tr>
            </thead>
            <tbody>
            {% for sp in sportsmen %}
                <tr>
                    <td>{{ sp.name }}</td>
                    <td>{{ sp.category }}</td>
                    <td>{{ sp.age }}</td>
                    <td>{{ sp.rating }}</td>
                    <td>{{ sp.trainer }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Age</th>
                <th>Rating</th>
                <th>Current Trainer</th>
            </tr>
            </tfoot>
        </table>
    </div>
    <form action="/sportsmen_form/">
        <button type="submit" class="btn btn-success btn-lg ml-3 mt-1 mb-3">Expand List</button>
    </form>
{% endblock %}
