{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{% endblock title %}

    <!-- BOOTSTRAP STYLES -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
			<a class="nav-link store-name" href="{% url 'home' %}">AZON<span
					class="sr-only">(current)</span></a>
			<div class="nav-menu">
            <ul class="navbar-nav">
				<li class="nav-item active dropdown">
					<a class="nav-link dropdown-toggle menu-dropdown" href="#" 
						id="navbarDropdown" role="button" 
						data-toggle="dropdown" aria-haspopup="true" 
						aria-expanded="false">
					  Категории
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'category-list' %}">Все категории</a>
						{% for category in categories %}
							<a class="dropdown-item" 
								href="{% url 'category-detail' category.id %}">{{ category.name }}</a>
						{% endfor %}
					</div>
				</li>
				<li class="nav-item active dropdown">
					<a class="nav-link dropdown-toggle menu-dropdown" href="#" 
						id="navbarDropdown" role="button" 
						data-toggle="dropdown" aria-haspopup="true" 
						aria-expanded="false">
					  Бренды
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'brand-list' %}">Все бренды</a>
						{% for brand in brands %}
							<a class="dropdown-item" href="{% url 'brand-detail' brand.id %}">{{ brand.name }}</a>
						{% endfor %}
                        <a class="dropdown-item" href="{% url 'brand-new' %}">Добавить свой?</a>
					</div>
				</li>
            </ul>
			</div>
        </div>
        <div class="navbar-nav">
            {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'profile' %}">Моя страница</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">Выйти</a>
            {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Войти</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Зарегистрироваться</a>
            {% endif %}
        </div>
    </nav>

    <main role="main" class="container container-main">
        <div class="row">
            <div class="col-md-8">
                {% block content %}{% endblock content %}
            </div>
        </div>
    </main>

    <!-- BOOTSTRAP SCRIPTS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>
