<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Owner</title>
</head>
<body>
    <h1>Owner</h1>
    <ul>
        <li>First name: {{ owner.first_name }}</li>
        <li>Second name: {{ owner.second_name }}</li>
        <li>Nationality: {{ owner.user.nationality }}</li>
        <li>Address: {{ owner.user.address }}</li>
        <li>Passport: {{ owner.user.passport }}</li>
    </ul>
</body>
</html>