{% extends 'base.html' %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-top mb-4">Присоединись сегодня</legend>
            <input type="text" id="username" name="username" placeholder="Имя пользователя" required>
            <br>
            <input type="file" accept="image/*" id="image" name="image" placeholder="Картинка">
            <br>
            <input type="password" id="password1" name="password1" placeholder="Пароль" required>
            <br>
            <input type="password" id="password2" name="password2" placeholder="Пароль" required>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Зарегистрироваться</button>
        </div>
    </form>
{% endblock content %}