{% extends "base.html" %}

{% block content %}

<style>
.results tr[visible='false'],
.no-result {
display: none;
}
.results tr[visible='true'] {
display: table-row;
}
.searchCount {
padding: 8px;
color: #ccc;
}
</style>

<input class="form-control" type="text" placeholder="Введите информацию для поиска" id="search-text" onkeyup="tableSearch()">
<span class="searchCount"></span>
<table class="table table-striped" id="info-table">
<thead>
<tr>
<th></th>
      <th scope="col">Название</th>
      <th scope="col">Год производства</th>
      <th scope="col">Жанр</th>
      <th scope="col">Издательство</th>
      <th scope="col">Автор</th>
  <th></th>

</tr>
<tr class="no-result">
<td>Совпадения не найдены</td>
</tr>
</thead>
<tbody>
{% for cassette in data_c %}
<tr>
<td><img src="{{cassette.poster}}"> </td>
  <td>{{cassette.name}}</td>
  <td>{{cassette.year}}</td>
  <td>{{cassette.theme}}</td>
  <td>{{cassette.film_studio}}</td>
  <td>{{cassette.producer}}</td>
  <td><a class="btn btn-outline-secondary" href="{% url 'selling_url' user.id cassette.id%}">Заказать</a></td>
</tr>
{% endfor %}
</tbody>
</table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    function tableSearch() {
    var phrase = document.getElementById('search-text');
    var table = document.getElementById('info-table');
    var regPhrase = new RegExp(phrase.value, 'i');
    var flag = false;
    for (var i = 1; i < table.rows.length; i++) {
        flag = false;
        for (var j = table.rows[i].cells.length - 1; j >= 0; j--) {
            flag = regPhrase.test(table.rows[i].cells[j].innerHTML);
            if (flag) break;
        }
        if (flag) {
            table.rows[i].style.display = "";
        } else {
            table.rows[i].style.display = "none";
        }

    }
}
</script>
{% endblock %}