<!DOCTYPE html>
<html>
<head>
  <title>Автосервис</title>
  <meta charset="utf-8">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body>
  <div class="header">
    <a href="/">
      <div class="header__logo">
        <img class="header__icon" src="{% static 'img/logo.png' %}">
        <div class="header__name">Автосервис</div>
      </div>
    </a>
    <div class="header__profile">
      {% if authenticated %}
        <div class="header__user">{{ username }}</div>
        <a class="header__link" href="/logout"><div>Выйти</div></a>
      {% else %}
        <a class="header__link" href="/login"><div>Логин</div></a>
        <a class="header__link" href="/signup"><div>Регистрация</div></a>
      {% endif %}
    </div>
  </div>
  <div class="content">
    <div class="data">
      {% for row in data %}
        <a href="/autoshow/{{row.workshop_id}}" style="color: black">
          <div class="autoshow">
            <div class="autoshow__header">
              <div class="autoshow__back" style="background-color: {{row.color}}"></div>
              <div class="autoshow__name">{{row.workshop_name}}</div>
            </div>
            <div class="autoshow__info">
              <div class="autoshow__hours">С {{row.workshop_opentime}} до {{row.workshop_closetime}}</div>
              {% if row.isopen %}
                <div class="autoshow__isopen autoshow__isopen--true">Сейчас: Открыто</div>
              {% else %}
                <div class="autoshow__isopen autoshow__isopen--false">Сейчас: Закрыто</div>
              {% endif %}
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</body>
</html>