{% extends 'base.html' %}


{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated %}
 <head>
  <meta http-equiv='refresh' content='0; URL=/home/'>
</head>
  {% endif %}

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}
{% load crispy_forms_tags %}

<div class = "container">
        <div class="row justify-content-center">
            <div class="col-8">
                <h1 align="center">Вход в аккаунт</h1>
          <hr class="mt-2 mb-4">
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-secondary mx-auto">Авторизация</button>
      <a href="/register/" class="btn btn-secondary  mx-auto" role="button" aria-pressed="true">Регистрация</a>

        </form>

         </div>
        </div>
      </div>







<!--    </a>-->
{% endblock %}