<body background="https://www.arcgis.com/sharing/rest/content/items/70b3f96b481643b88e49c407f55b5ccc/resources/1574826268041.jpeg?w=2630">
</body>

<h1>Наши теплоходы</h1> <br>

{% for motorship in motorships %}
    <b> Теплоход#{{ motorship.id }} </b> <br>
    <b>Название: {{ motorship.motorship_name }}</b> <br>
    <p>Дата изготовления: {{ motorship.motorship_date_start }}</p>
    <p>Конец срока годности: {{ motorship.motorship_date_end }}</p>
<br><br><br>
{% endfor %}

<a href = "http://127.0.0.1:8000">
<button>Вернуться на главную</button>
</a>