{% extends 'core/base_template.html' %}

{% block title %}
   Film Library
{% endblock %}

{% block page-title %}
    <br>
    <center>Menu</center>
{% endblock %}

{% block content %}
    <br>
    <a href="../cassette/all" class="btn btn-primary btn-dark btn-lg btn-block">Cassette table</a>
    <a href="../seller/all" class="btn btn-primary btn-dark btn-lg btn-block">Seller table</a>
    <a href="../provider/all" class="btn btn-primary btn-dark btn-lg btn-block">Provider table</a>
    <a href="../arriving/all" class="btn btn-primary btn-dark btn-lg btn-block">Cassette Arriving table</a>
    <a href="../selling/all" class="btn btn-primary btn-dark btn-lg btn-block">Cassette Selling table</a>
{% endblock %}