{% extends "base.html" %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <div class="media-body">
                <img class="rounded-circle account-img" src="{{ user.image.url }}" width=300 height=300>
                <div class="content-block-section">
                    <h2 class="account-heading">@{{ user.username }}</h2>
                    <p class="profile-info">{{ user.first_name }} {{ user.last_name }}</p>
                    <p class="profile-info">Электронная почта: {{ user.email }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}