# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Collage\django\ITMO_FSPO_Web_Django_2020\students\y2334\laboratory_works\PoLiNA_KiLK\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
