{% extends 'wrapper.html' %}
{% block body %}

 <div class="container">
<div class="row">
{% for dish in dishes %}

         <div class="col-md-6">
     <div class="content-section">
    <h2> Название блюда: {{ dish.dish_name }} </h2>
    <h2> Повар: {{ dish.cook_id.first_name }} {{ dish.cook_id.last_name }}</h2>
    Ингредиенты:
    {% for ingredient in dish.ingredients.all %}
        {{ ingredient.ingredient_name }}
    {% endfor %}
    <h5> Цена: {{dish.price}} рублей</h5>

         {% if dish in order.dishes.all%}
         <div class="green-text">Вы уже добавили это блюдо к себе заказ!</div>
         <a class="ml-2 red-text" href="{% url 'remove_order' pk=dish.id %}">Удалить</a>
         {% else %}
         <a href="{% url 'add_order' pk=dish.id %}">
             <button class="btn btn-success">Добавить</button>
         </a>
         {% endif %}

     </div>
     </div>



{% endfor %}

         </div>
 </div>

{% endblock %}