version: '3'

services:
  server:
    build: 
      context: .
      dockerfile: ./Dockerfile
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - 8000:8000

  web:
    build:
      context: ./my-project/
      dockerfile: ./Dockerfile
    command: npm run dev
    network_mode: host
    ports:
      - 8080:8080
    depends_on: 
      - server