<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
{% block stile%}


    <style>
   table {
    border:25px solid white; /* Рамка вокруг таблицы */
    margin: auto; /* Выравниваем таблицу по центру окна  */
   }
   th {
    text-align: center; /* Выравниваем текст по центру ячейки */
   }
   td {
    text-align: center; /* Выравниваем текст по центру ячейки */
   }
  </style>
    {% endblock%}
    <title></title>
</head>
    <body>

        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <a class="nav-link" href="{% url 'base_url'%}">Все фильмы</a>
        <a class="nav-link" href="{% url 'sort_url' theme='боевик' %}">Боевики</a>
        <a class="nav-link" href="{% url 'sort_url' theme='детектив' %}">Детективы</a>
        <a class="nav-link" href="{% url 'sort_url' theme='драма' %}">Драмы</a>
        <a class="nav-link" href="{% url 'sort_url' theme='история' %}">Исторические фильмы</a>
        <a class="nav-link" href="{% url 'sort_url' theme='комедия' %}">Комедии</a>
        <a class="nav-link" href="{% url 'sort_url' theme='фантастика' %}">Фантастика</a>
        <a class="nav-link" href="{% url 'sort_url' theme='триллер' %}">Триллер</a>
        <a class="nav-link" href="{% url 'search_url'%}">Найти фильм</a>

    </ul>
    </div>
            {% if user.is_superuser %}
 <a class="nav-link" href="{% url 'cassette_add_url' %}">Добавить фильм   </a>
 <a class="nav-link" href="{% url 'show_for_delete_url' %}">  Удалить фильм</a>
            {% endif %}
      <a class="nav-link" href="{% url 'account_url' user.id%}">Личный кабинет</a>
      <a class="nav-link" href="{% url 'logout' %}">Выход</a>

  </div>
            {% else %}
            </div>
      <a class="nav-link" href="{% url 'login' %}">Войти</a>
  </div>
        {% endif %}
  </div>
</nav>
<br>
        {% block content%}
<table class="table table-dark table-hover">
  <thead>
    <tr>
      <th scope="col">Название</th>
      <th scope="col">Информация о фильме</th>
      <th scope="col">Цена</th>
      <th scope="col">Наличие в продаже</th>
    </tr>
  </thead>
  <tbody>
  {% for cassette in data_c %}
    <tr>
      <td><img src="{{cassette.poster}}"> </td>
      <td>{{cassette.name}}<p>{{cassette.year}}</p><p>{{cassette.theme}}</p><p>{{cassette.duration}}</p><p>{{cassette.film_studio}}</p><p>{{cassette.producer}}</p></td>
      <td>{{cassette.price}} <p><a class="btn btn-outline-secondary" href="{% url 'selling_url' user.id cassette.id%}">Забронировать</a></p></td>
        <td>
            {% for admission in data_a %}
            {% for seller in data_s %}
            {% if cassette.id == admission.id_cassette %}
            {% if seller.id == admission.id_seller %}
                    <p>{{seller.address}}</p>
            {% endif %} {% endif %}
        {% endfor %} {% endfor %}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
        {% endblock%}

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>