{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}"/>

    <title>
        Certain User
    </title>


    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'autentification' %}">Log In</a>
            </div>
            <p class="navbar-text">Signed in as {{ certain_user.login }}</p>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'users_list_url' %}">Show users</a></li>
                <li><a href="{% url 'calls_list_url' %}">Show calls</a></li>
                <li><a href="{% url 'cashes_list_url' %}">Show cashes</a></li>
                <li><a href="{% url 'users_calls_list_url' %}">Show user-call membership</a></li>
                <li><a href="{% url 'rates_list_url' %}">Show rates</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


</head>
<body>
<div class="list-group">
    <a href="{% url 'certain_user_rates_url' certain_user.login %}" class="list-group-item">Show user's rates</a>
    <a href="{% url 'certain_user_information_url' certain_user.login %}" class="list-group-item">Show user's information</a>
    <a href="{% url 'certain_user_calls_url' certain_user.login %}" class="list-group-item">Show user's calls</a>
    <a href="{% url 'certain_user_cash_url' certain_user.login %}" class="list-group-item">Show user's cash</a>
</div>
</body>
</html>