<table border="1px" >
    <thead>
    <tr>

        <th>id</th>
        <th>name</th>
        <th>category</th>

    </tr>
    </thead>

    <tbody>
    {% for buyer in buyers %}
        <tr>

            <td >{{ buyer.buyer_id }}</td>
            <td>{{ buyer.name }}</td>
            <td>{{ buyer.category }}</td>
            {% if user.is_authenticated %}
            <td><a href="/buyer_update/{{buyer.buyer_id}}">
                    <button>update buyer</button>
                </a>
            </td>
            <td><a href="/buyer_delete/{{buyer.buyer_id}}">
                    <button>delete buyer</button>
                </a>
            </td>
            {% endif %}


        </tr>
    {% endfor %}
    </tbody>
</table>
{% if user.is_authenticated %}
<a href="/buyer_form/">
<button>add buyer</button>
</a>
{% endif %}
<a href = "/">
<button>home page</button>
</a>