<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Author Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="http://127.0.0.1:8000/library">Python library</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="http://127.0.0.1:8000/library/books">Список книг</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/library/authors">Список авторов</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/library/order">Заказать книгу</a>
            </li>
        </ul>
    </div>
</nav>

<table class="table">
    <thead class="thead-light">
    <tr>
        <th scope="col">ISBN</th>
        <th scope="col">Название</th>
        <th scope="col">Категория</th>
        <th scope="col">Количество страниц</th>
        <th scope="col">Дата публикации</th>
        <th scope="col">Цена</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>{{ book.ISBN }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.category.title }}</td>
        <td>{{ book.pagesCount }}</td>
        <td>{{ book.publicationDate }}</td>
        <td>{{ book.price }}</td>
    </tr>
    </tbody>
</table>
<div class="alert alert-light" role="alert">
    <h5>Авторы:</h5>
</div>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col"></th>
        <th scope="col">Email</th>
        <th scope="col">Имя</th>
        <th scope="col">Фамилия</th>
        <th scope="col">Отчество</th>
    </tr>
    </thead>

    <tbody>
    {% for author in authors %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ author.email }}</td>
            <td>{{ author.first_name }}</td>
            <td>{{ author.last_name }}</td>
            <td>{{ author.patronymic }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>