{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/Alltheme.css' %}" type="text/css" rel="stylesheet">
    <title>Меню тур. бюро</title>
</head>
<body>
<form action="">
    <p><input type="submit" formmethod="get" name="staff" value="Добавить водителя"></p>
    <p><input type="submit" formmethod="get" name="routes" value="Добавить маршрут"></p>
    <p><input type="submit" formmethod="get" name="ways" value="Добавить путь"></p>
    <p><input type="submit" formmethod="get" name="buses" value="Добавить автобус"></p>
    <p><input type="submit" formmethod="get" name="cities" value="Добавить город"></p>
</form>
</body>
</html>