{% extends 'base.html' %}
{% block style %}
    <style>
    @media (min-width: 992px) {
    .card-columns {
        -webkit-column-count: 4;
        column-count: 4
    }
}
    html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}body {line-height: 1;}ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;} /* remember to define focus styles! */ :focus {outline: 0;} /* remember to highlight inserts somehow! */ins {text-decoration: none;}del {text-decoration: line-through;} /* tables still need 'cellspacing="0"' in the markup */ table {border-collapse: collapse;border-spacing: 0;}


/*---------- BODY --------------------------------*/

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
    </style>
{% endblock %}

{% block body%}

    <div class="container" >
<div class="card-columns">
    {% for lesson in data_l %}
    <div class="card border-primary mb-4 mx-auto" style="max-width: 400px;">
        <div class="card-body"><!-- Начало текстового контента -->
            <h4 class="card-title">{{ lesson.number_group }}</h4>
            <h6 class="card-subtitle mb-2 text-muted">{{ lesson.subject }}</h6>
            <h6 class="card-subtitle mb-2 text-muted">{{ lesson.number_lecture }}</h6>
            {% for teacher in data_t %}
                {% if teacher.id == lesson.teacher %}
            <h6 class="card-subtitle mb-2 text-muted">{{teacher.name }}</h6>
                {% endif %}
                {% endfor %}
            <h6 class="card-subtitle mb-2 text-muted">{{ lesson.time }}</h6>
            <p class="card-text"> {{ lesson.date }}</p>
            <a href="{% url 'delete_lesson_url' lesson.id %}" class="close"></a>
        </div><!-- Конец текстового контента -->
    </div><!-- Конец карточки -->
        {% endfor %}
</div>
</div>

    {% endblock%}
{% block script%} <script>
</script>
{% endblock%}