{% extends 'base.html' %}



{% block tittle %}
    Orders
{% endblock %}

{%block content%}
    <h1 class="mb-5">Orders:</h1>
    {% for order in orders%}
        <div class="card mb-5">
          <h5 class="card-header">{{order.product_name}}
              x{{order.count}}</h5>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">
                Employee: {{order.employee_first_name}} {{order.employee_last_name}} <br/>
                Client: {{order.client_first_name}} {{order.client_last_name}} <br/>
                Date: {{order.order_date}}
            </p>
            {% if user.is_authenticated %}
              <a href="{%url 'deleted' id=order.id%}" class="btn btn-primary">Delete</a>
            {%endif%}
          </div>
        </div>
    {%endfor%}
{% endblock %}