{% extends 'base.html' %}
{% block stile %}
<style>
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}
</style>
{% endblock %}

{% block content %}

  <img src="https://api.icons8.com/download/92fb2358939c7ea41c2f6398057f1627f8c45fc3/Android_L/PNG/512/Users/user_male-512.png" alt="Avatar" style="width:20%">
  <div class="container">
    <h4><b>{{data_u.username}}</b></h4>
    <p>{{data_u.email}}</p>
  </div>


<h3 class="text-center">История заказов</h3>
<table class="table table-bordered ">
  <thead>
    <tr>
      <th scope="col">Информация о круизе</th>
      <th scope="col">Дата брони</th>
      <th scope="col">Цена</th>
    </tr>
  </thead>
  <tbody>
  {% for excursion in data_e %}
      {% for sell in data_s %}
   {% if excursion.id == sell.id_excursion and sell.id_profile == user.id%}
  <tr>
      <td><p>{{excursion.date_of_departure}}</p><p>{{excursion.date_of_arrival}}</p><p>{{excursion.information}}</p></td>
      <td> {{ sell.date }}</td>
       <td>{{ sell.price }}</td>
  </tr>
  {% endif %} {% endfor %} {% endfor %}
  </tbody>
</table>
{% endblock %}